.form{
    display: flex;
    height: 50em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form{
background-color: whitesmoke;
width: 100%;
height: 95%;
display: flex;
justify-content: space-evenly;
border-radius: 20px;
box-shadow: 3px 3px 3px rgba(78, 78, 78, 0.795);
}

.campos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campos h1{
    width: 200px;
    margin: 20px 0;
}

.formInput{
    height: auto;
    border: none;
    border-radius: 10px;
    height: 10%;
    width: 80%;
    margin: 5px 0;
    outline: none;
}

input[type="file"]{
    /* display: none; */
}

input.descripcion{
    height: 6em;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: -50px;
    justify-content: space-evenly;
}

.customFile{
    border: none;
    width: 30em;
    height: 30em;
    display: inline-block;
    /* background-color: blue; */
}

.agregar{
    
    background-color: rgb(66, 66, 212);
    width: 120px;
    height: 30px;
    color: white;
    border-radius: 10px;
    transition: all ease-in 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputImg{
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

button{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(54, 54, 211);
    transition: all 100ms ease-in-out;
}

button:hover {
    height: 50px;
    width: 130px;
    background-color: rgb(54, 54, 211);
    transition: all 100ms ease-in-out;
}