footer {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #D8C3A5;
    color: #111111;
   
  }
  
  .footer-left{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
  }
  .footer-right {
    display: flex;
    align-items: center;
    
  }
  
  .social-icons {
    display: flex;
    
  }
  
  .social-icons i {
    margin-right: 10px;
  }
  
  .footer-center {
    text-align: center;
  }
  
  
  
 